@font-face {
  font-family: 'iconfont';  /* project id 1354009 */
  src: url('//at.alicdn.com/t/font_1354009_reby07cner.eot');
  src: url('//at.alicdn.com/t/font_1354009_reby07cner.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1354009_reby07cner.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1354009_reby07cner.woff') format('woff'),
  url('//at.alicdn.com/t/font_1354009_reby07cner.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1354009_reby07cner.svg#iconfont') format('svg');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-jiantou_you:before {
    content: "\e635";
  }
  
  .icon-jiantou_xia:before {
    content: "\e636";
  }
  
  .icon-fujian:before {
    content: "\e62b";
  }
  
  .icon-processing:before {
    content: "\e62f";
  }
  
  .icon-empty:before {
    content: "\e630";
  }
  
  .icon-users:before {
    content: "\e631";
  }
  
  .icon-tasks:before {
    content: "\e632";
  }
  
  .icon-rejected:before {
    content: "\e633";
  }
  
  .icon-jia:before {
    content: "\e634";
  }
  
  .icon-created:before {
    content: "\e657";
  }
  
  .icon-checked:before {
    content: "\e658";
  }
  
  .icon-logo:before {
    content: "\e659";
  }
  
  .icon-edit:before {
    content: "\e65a";
  }
  
  .icon-delete:before {
    content: "\e65b";
  }
  
  .icon-password:before {
    content: "\e65c";
  }
  
  .icon-delete2:before {
    content: "\e65d";
  }
  
  .icon-upload:before {
    content: "\e65e";
  }
  
  .icon-download:before {
    content: "\e65f";
  }
  
  .icon-view:before {
    content: "\e661";
  }
  
  .icon-user:before {
    content: "\e66f";
  }
  
  .icon-add-involver:before {
    content: "\e674";
  }
  
  .icon-success:before {
    content: "\e675";
  }
  
  .icon-error:before {
    content: "\e676";
  }
  
  .icon-warning:before {
    content: "\e677";
  }
  
  .icon-question:before {
    content: "\e678";
  }
  
  .icon-completed-task:before {
    content: "\e679";
  }
  
  .icon-todos:before {
    content: "\e67a";
  }
  
  .icon-involves:before {
    content: "\e67b";
  }
  
  .icon-edit2:before {
    content: "\e67c";
  }
  
  .icon-send:before {
    content: "\e67d";
  }
  
  .icon-loading:before {
    content: "\e67f";
  }
  
  .icon-delete3:before {
    content: "\e67e";
  }
  
  .icon-file:before {
    content: "\e680";
  }
  
  .icon-image:before {
    content: "\e681";
  }
  
  .icon-right2:before {
    content: "\e684";
  }
  
  .icon-search:before {
    content: "\e685";
  }
  
  .icon-video:before {
    content: "\e686";
  }
  
  .icon-rili:before {
    content: "\e68c";
  }
  
  .icon-assignee:before {
    content: "\e68d";
  }
  
  .icon-comment:before {
    content: "\e68e";
  }
  
  .icon-rili2:before {
    content: "\e683";
  }
  
  .icon-tag:before {
    content: "\e689";
  }
  
  .icon-ordinary:before {
    content: "\e68f";
  }
  
  .icon-important:before {
    content: "\e690";
  }
  
  .icon-urgent:before {
    content: "\e691";
  }
  
  .icon-paste:before {
    content: "\e694";
  }
  
  